*{
    margin: 0;
    padding: 0;
    /* outline: 1px dotted red; */
    font-family: 'Dela Gothic One', cursive;
}

#container{
    width: 85%;
    margin: 0 auto;
    padding: 30px
}

p{
    
    font-size: 20px;
    padding: 15px 30px;
}

#main-content{
    padding: 15px;
    overflow: hidden;
    text-align: center;
}

.img{
    display: inline-block;
    vertical-align: top;
    width: 300px;
    height: 300px;
    margin: 5px;
    box-sizing: border-box;
    border: 3px solid #000;
}

.img img{
    width: 100%
}

#btn{
    background-color: green;
    color: white;
    display: inline-block;
    margin: 15px 26px;
    width: 100px;
    padding: 5px;
    border: 3px solid #000;
    box-shadow: 3px 3px #000;
}

